Repository folz/bento, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, benchmark, test, document

.github/labeler.yml:

ci:
  - any: [.github/workflows/**/*, .github/labeler.yml]

benchmark:
  - any: [bench/**/*, .github/workflows/benchmark.yml]

test:
  - any: [test/**/*]

document:
  - any: [README.md]

Fix CI failures surfaced by modern Elixir versions
  .github/workflows/benchmark.yml
  .github/workflows/build-test.yml
  .github/workflows/release.yml
  lib/bento/parser.ex
Labels: none

Enforce BEP-3 dictionary key ordering and uniqueness requirements (#34)
  lib/bento/parser.ex
  test/bento/parser_test.exs
Labels: test

Tighten added docs and comments to single lines
  lib/bento/metainfo.ex
  test/bento/metainfo_test.exs
Labels: test

Support nonstandard UTF-8 keys in torrent metainfo files (#35)
  README.md
  lib/bento/metainfo.ex
  test/bento/metainfo_test.exs
Labels: test, document

Update dev dependencies and fix new-Elixir warnings
  lib/bento/encoder.ex
  lib/bento/parser.ex
  mix.lock
Labels: none

Require Elixir 1.17+ and drop the bencoder benchmark dep
  README.md
  bench/encoder_bench.exs
  bench/parser_bench.exs
  bench/perf.exs
  mix.exs
  mix.lock
Labels: document

Update CI and project to current Erlang/OTP and Elixir versions (#36)
  .github/workflows/benchmark.yml
  .github/workflows/build-test.yml
  .github/workflows/release.yml
  README.md
  bench/encoder_bench.exs
  bench/parser_bench.exs
  bench/perf.exs
  lib/bento/encoder.ex
  lib/bento/parser.ex
  mix.exs
  mix.lock
Labels: document

Replace Benchfella benchmarks with a Benchee suite and add a CHANGELOG
  .github/workflows/benchmark.yml
  .gitignore
  CHANGELOG.md
  README.md
  bench/decode.exs
  bench/encode.exs
  bench/encoder_bench.exs
  bench/generate_data.exs
  bench/mix.exs
  bench/parser_bench.exs
  bench/perf.exs
  bench/retention.exs
Labels: document

Cover error-formatting and edge clauses in tests
  test/bento/encoder_test.exs
  test/bento/ordered_dict_test.exs
  test/bento/parser_test.exs
  test/bento_test.exs
Labels: test

Rewrite parser and encoder for speed, canonical output, and better errors
  .formatter.exs
  VERSION
  lib/bento.ex
  lib/bento/decoder.ex
  lib/bento/encoder.ex
  lib/bento/fragment.ex
  lib/bento/ordered_dict.ex
  lib/bento/parser.ex
  mix.exs
  mix.lock
Labels: none

Address automated review findings
  bench/decode.exs
  lib/bento/decoder.ex
  lib/bento/parser.ex
  test/bento/decoder_test.exs
  test/bento/parser_test.exs
Labels: test

Add magnet link support (BEP-9, BEP-52, BEP-53)
  AGENTS.md
  CHANGELOG.md
  README.md
  lib/bento.ex
  lib/bento/magnet.ex
  lib/bento/metainfo.ex
  mix.exs
  test/bento/magnet_test.exs
  test/bento/metainfo_test.exs
  test/property_test.exs
Labels: test, document

Validate peer addresses when rendering magnet URIs
  lib/bento/magnet.ex
  test/bento/magnet_test.exs
Labels: test

Enforce render-side bounds for integers and IPv6 peer addresses
  lib/bento/magnet.ex
  test/bento/magnet_test.exs
Labels: test

Copy escaping strings in from_torrent and validate peer host syntax
  lib/bento/magnet.ex
  test/bento/magnet_test.exs
  test/property_test.exs
Labels: test

Exclude BEP-47 padding files from derived magnet length
  lib/bento/magnet.ex
  test/bento/magnet_test.exs
Labels: test

Add Bento.Magnet: BitTorrent magnet URI codec (#38)
  AGENTS.md
  CHANGELOG.md
  README.md
  lib/bento.ex
  lib/bento/magnet.ex
  lib/bento/metainfo.ex
  mix.exs
  test/bento/magnet_test.exs
  test/bento/metainfo_test.exs
  test/property_test.exs
Labels: test, document

tracker: scaffold standalone OTP app for chihaya port
  tracker/.formatter.exs
  tracker/.gitignore
  tracker/lib/bento/tracker.ex
  tracker/mix.exs
  tracker/test/test_helper.exs
Labels: none

tracker: port bittorrent core types and pkg utilities from chihaya
  tracker/lib/bento/tracker/announce_request.ex
  tracker/lib/bento/tracker/announce_response.ex
  tracker/lib/bento/tracker/client_error.ex
  tracker/lib/bento/tracker/client_id.ex
  tracker/lib/bento/tracker/event.ex
  tracker/lib/bento/tracker/info_hash.ex
  tracker/lib/bento/tracker/ip.ex
  tracker/lib/bento/tracker/params.ex
  tracker/lib/bento/tracker/peer.ex
  tracker/lib/bento/tracker/peer_id.ex
  tracker/lib/bento/tracker/random.ex
  tracker/lib/bento/tracker/scrape_request.ex
  tracker/lib/bento/tracker/scrape_response.ex
  tracker/lib/bento/tracker/time_cache.ex
  tracker/test/bento/tracker/bittorrent_test.exs
  tracker/test/bento/tracker/client_id_test.exs
  tracker/test/bento/tracker/event_test.exs
  tracker/test/bento/tracker/params_test.exs
  tracker/test/bento/tracker/random_test.exs
  tracker/test/bento/tracker/sanitize_test.exs
  tracker/test/bento/tracker/time_cache_test.exs
Labels: none

tracker: port storage layer with ETS-sharded memory peer store
  tracker/lib/bento/tracker/metrics.ex
  tracker/lib/bento/tracker/storage.ex
  tracker/lib/bento/tracker/storage/memory.ex
  tracker/test/bento/tracker/storage/memory_test.exs
  tracker/test/support/storage_case.ex
Labels: none

tracker: port middleware framework and tracker logic
  tracker/config/config.exs
  tracker/lib/bento/tracker/logic.ex
  tracker/lib/bento/tracker/middleware.ex
  tracker/lib/bento/tracker/middleware/response_hook.ex
  tracker/lib/bento/tracker/middleware/swarm_interaction_hook.ex
  tracker/test/bento/tracker/logic_test.exs
Labels: none

tracker: port client/torrent approval, varinterval and jwt middleware
  tracker/lib/bento/tracker/middleware/client_approval.ex
  tracker/lib/bento/tracker/middleware/jwt.ex
  tracker/lib/bento/tracker/middleware/torrent_approval.ex
  tracker/lib/bento/tracker/middleware/var_interval.ex
  tracker/mix.exs
  tracker/test/bento/tracker/middleware/client_approval_test.exs
  tracker/test/bento/tracker/middleware/jwt_test.exs
  tracker/test/bento/tracker/middleware/torrent_approval_test.exs
  tracker/test/bento/tracker/middleware/var_interval_test.exs
Labels: none

tracker: port HTTP frontend (parser, writer, gen_tcp server)
  tracker/lib/bento/tracker/http/frontend.ex
  tracker/lib/bento/tracker/http/parser.ex
  tracker/lib/bento/tracker/http/request.ex
  tracker/lib/bento/tracker/http/writer.ex
  tracker/test/bento/tracker/http/frontend_test.exs
  tracker/test/bento/tracker/http/parser_test.exs
  tracker/test/bento/tracker/http/writer_test.exs
Labels: none

tracker: port UDP frontend (BEP 15/41)
  tracker/lib/bento/tracker/udp/connection_id.ex
  tracker/lib/bento/tracker/udp/frontend.ex
  tracker/lib/bento/tracker/udp/parser.ex
  tracker/lib/bento/tracker/udp/writer.ex
  tracker/test/bento/tracker/udp/connection_id_test.exs
  tracker/test/bento/tracker/udp/frontend_test.exs
  tracker/test/bento/tracker/udp/parser_test.exs
  tracker/test/bento/tracker/udp/writer_test.exs
Labels: none

tracker: port Redis peer store with a minimal RESP2 client
  tracker/lib/bento/tracker/storage/redis.ex
  tracker/lib/bento/tracker/storage/redis/connection.ex
  tracker/test/bento/tracker/storage/redis_test.exs
Labels: none

tracker: wire config, runner, metrics server, CLI and e2e suite
  tracker/dist/example_config.exs
  tracker/dist/example_config_redis.exs
  tracker/lib/bento/tracker/cli.ex
  tracker/lib/bento/tracker/config.ex
  tracker/lib/bento/tracker/e2e.ex
  tracker/lib/bento/tracker/metrics/server.ex
  tracker/lib/bento/tracker/runner.ex
  tracker/test/bento/tracker/config_test.exs
  tracker/test/bento/tracker/e2e_test.exs
  tracker/test/bento/tracker/runner_test.exs
  tracker/test/bento/tracker/udp/parser_test.exs
Labels: none

tracker: add README documenting architecture, config, and parity
  tracker/README.md
Labels: none

tracker: address parity-audit findings against chihaya
  tracker/README.md
  tracker/lib/bento/tracker/cli.ex
  tracker/lib/bento/tracker/config.ex
  tracker/lib/bento/tracker/http/frontend.ex
  tracker/lib/bento/tracker/http/parser.ex
  tracker/lib/bento/tracker/metrics/server.ex
  tracker/lib/bento/tracker/middleware/jwt.ex
  tracker/lib/bento/tracker/middleware/torrent_approval.ex
  tracker/lib/bento/tracker/storage/redis.ex
  tracker/lib/bento/tracker/storage/redis/connection.ex
  tracker/lib/bento/tracker/udp/frontend.ex
  tracker/lib/bento/tracker/udp/parser.ex
  tracker/test/bento/tracker/config_test.exs
  tracker/test/bento/tracker/http/frontend_test.exs
  tracker/test/bento/tracker/http/parser_test.exs
  tracker/test/bento/tracker/middleware/jwt_test.exs
  tracker/test/bento/tracker/middleware/torrent_approval_test.exs
  tracker/test/bento/tracker/udp/parser_test.exs
Labels: none

tracker: fix HTTP header parsing dropped by a tuple-arity mismatch
  tracker/lib/bento/tracker/http/frontend.ex
  tracker/test/bento/tracker/http/frontend_test.exs
Labels: none

tracker: make memory-store announce a uniform random peer sample
  tracker/lib/bento/tracker/storage/memory.ex
  tracker/test/bento/tracker/storage/memory_test.exs
Labels: none

tracker: apply /simplify review findings (reuse, dead code, hot paths)
  tracker/lib/bento/tracker/config.ex
  tracker/lib/bento/tracker/e2e.ex
  tracker/lib/bento/tracker/http/frontend.ex
  tracker/lib/bento/tracker/http/parser.ex
  tracker/lib/bento/tracker/http/writer.ex
  tracker/lib/bento/tracker/ip.ex
  tracker/lib/bento/tracker/logic.ex
  tracker/lib/bento/tracker/metrics.ex
  tracker/lib/bento/tracker/metrics/server.ex
  tracker/lib/bento/tracker/middleware.ex
  tracker/lib/bento/tracker/middleware/client_approval.ex
  tracker/lib/bento/tracker/middleware/hook.ex
  tracker/lib/bento/tracker/middleware/jwt.ex
  tracker/lib/bento/tracker/middleware/torrent_approval.ex
  tracker/lib/bento/tracker/middleware/var_interval.ex
  tracker/lib/bento/tracker/params.ex
  tracker/lib/bento/tracker/peer.ex
  tracker/lib/bento/tracker/runner.ex
  tracker/lib/bento/tracker/scrape_request.ex
  tracker/lib/bento/tracker/storage/memory.ex
  tracker/lib/bento/tracker/storage/redis.ex
  tracker/lib/bento/tracker/storage/redis/connection.ex
  tracker/lib/bento/tracker/udp/connection_id.ex
  tracker/lib/bento/tracker/udp/frontend.ex
  tracker/test/bento/tracker/e2e_test.exs
Labels: none

tracker: harden storage, HTTP, and lifecycle per code review
  tracker/README.md
  tracker/lib/bento/tracker/http/frontend.ex
  tracker/lib/bento/tracker/ip.ex
  tracker/lib/bento/tracker/metrics/server.ex
  tracker/lib/bento/tracker/middleware.ex
  tracker/lib/bento/tracker/middleware/jwt.ex
  tracker/lib/bento/tracker/middleware/var_interval.ex
  tracker/lib/bento/tracker/peer.ex
  tracker/lib/bento/tracker/runner.ex
  tracker/lib/bento/tracker/storage/memory.ex
  tracker/lib/bento/tracker/storage/redis.ex
  tracker/lib/bento/tracker/storage/redis/connection.ex
  tracker/lib/bento/tracker/udp/frontend.ex
  tracker/mix.exs
  tracker/test/bento/tracker/http/frontend_test.exs
  tracker/test/bento/tracker/middleware/var_interval_test.exs
Labels: none

tracker: apply simplify-pass cleanups to the review hardening
  tracker/lib/bento/tracker/http/frontend.ex
  tracker/lib/bento/tracker/ip.ex
  tracker/lib/bento/tracker/metrics/server.ex
  tracker/lib/bento/tracker/middleware/jwt.ex
  tracker/lib/bento/tracker/runner.ex
  tracker/lib/bento/tracker/storage/memory.ex
  tracker/lib/bento/tracker/storage/redis.ex
  tracker/lib/bento/tracker/storage/redis/connection.ex
  tracker/lib/bento/tracker/udp/frontend.ex
  tracker/test/bento/tracker/http/frontend_test.exs
Labels: none

tracker: share one HTTP server and support httprouter-style routes
  tracker/README.md
  tracker/lib/bento/tracker/http/frontend.ex
  tracker/lib/bento/tracker/http/request.ex
  tracker/lib/bento/tracker/http/route.ex
  tracker/lib/bento/tracker/http/server.ex
  tracker/lib/bento/tracker/metrics/server.ex
  tracker/lib/bento/tracker/middleware.ex
  tracker/test/bento/tracker/http/frontend_test.exs
  tracker/test/bento/tracker/http/route_test.exs
  tracker/test/bento/tracker/metrics/server_test.exs
  tracker/test/bento/tracker/metrics_test.exs
Labels: none

tracker: sample announce peers in O(numwant) from a hash-ordered walk
  tracker/README.md
  tracker/lib/bento/tracker/storage/memory.ex
  tracker/test/bento/tracker/storage/memory_test.exs
Labels: none

tracker: mirror chihaya's --debug flag
  tracker/README.md
  tracker/lib/bento/tracker/cli.ex
Labels: none
