Repository folz/bento, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, benchmark, test, document

.github/labeler.yml:

ci:
  - any: [.github/workflows/**/*, .github/labeler.yml]

benchmark:
  - any: [bench/**/*, .github/workflows/benchmark.yml]

test:
  - any: [test/**/*]

document:
  - any: [README.md]

build: further organize and standardize types
  lib/bento.ex
  lib/bento/encoder.ex
  lib/bento/metainfo.ex
  lib/bento/parser.ex
Labels: none

docs: classifying modules
  lib/bento/metainfo.ex
  lib/bento/parser.ex
  mix.exs
Labels: none

docs: a guide on impl `Bento.Encoder` for custom struct
  lib/bento/encoder.ex
Labels: none

docs: add doc for then type of `Bento.Encoder`
  lib/bento/encoder.ex
Labels: none

docs: add new badge for docs
  README.md
Labels: document

Implement Any for `Bento.Encoder` (#23)
  README.md
  lib/bento.ex
  lib/bento/encoder.ex
  lib/bento/metainfo.ex
  lib/bento/parser.ex
  mix.exs
  test/_data/bento-0.9.2.torrent
  test/bento/encoder_test.exs
  test/bento/metainfo_test.exs
Labels: test, document

feat: implement `transform/2` for `Map` and Struct
  lib/bento/decoder.ex
Labels: none

feat: implement `transform/2` for `List`
  lib/bento/decoder.ex
Labels: none

feat: replace `Posison.Decode.decode/2` with `Bento.Decoder.transform/2`
  lib/bento.ex
  lib/bento/decoder.ex
Labels: none

test: add some tests for `Bento.Decoder`
  test/bento/decoder_test.exs
Labels: test

docs: add some docs for `Bento.Decoder`
  lib/bento.ex
  lib/bento/decoder.ex
  mix.exs
Labels: none

build: remove redundant dependencies
  mix.exs
  mix.lock
Labels: none

refactor: separate the logic of processing `Map` or `List`
  lib/bento/decoder.ex
Labels: none

test: supplement the test for transform to `List`
  lib/bento/decoder.ex
  test/bento/decoder_test.exs
Labels: test

test: supplement the test for transform to `Map`
  test/bento/decoder_test.exs
Labels: test

fix: the quantity in the value is uncertain
  lib/bento/decoder.ex
  test/bento/decoder_test.exs
Labels: test

style: pipe chain should start with a raw value
  lib/bento/decoder.ex
Labels: none

docs: update README.md
  README.md
Labels: document

Implement `Bento.Decoder.transform/2` (#24)
  README.md
  lib/bento.ex
  lib/bento/decoder.ex
  mix.exs
  mix.lock
  test/bento/decoder_test.exs
Labels: test, document

refactor: optimization in some formats
  lib/bento.ex
  lib/bento/metainfo.ex
Labels: none

feat: convert `info` by `Bento.Decoder.transform/2`
  lib/bento/metainfo.ex
  test/_data/bento-0.9.2.torrent
  test/bento/metainfo_test.exs
Labels: test

feat: subdivision `Bento.Metainfo.MultiFile`
  lib/bento/metainfo.ex
Labels: none

test: add test case for `MultiFile.files`
  test/bento/metainfo_test.exs
Labels: test

feat: transform for `DateTime`
  lib/bento/decoder.ex
  test/bento/decoder_test.exs
Labels: test

feat: read `Torrent."creation date"` as `DateTime`
  README.md
  lib/bento/metainfo.ex
  test/bento/metainfo_test.exs
Labels: test, document

Refactor `Bento.Metainfo` (#25)
  README.md
  lib/bento.ex
  lib/bento/decoder.ex
  lib/bento/metainfo.ex
  test/_data/bento-0.9.2.torrent
  test/bento/decoder_test.exs
  test/bento/metainfo_test.exs
Labels: test, document

build: bump version to 1.0.0
  README.md
  VERSION
Labels: document

build: bump version to 1.0.0 (#26)
  README.md
  VERSION
Labels: document

fix(build): include `:ex_doc` for MIX_ENV `:prod`
  mix.exs
Labels: none

build(ci): only get deps for MIX_ENV `:prod`
  .github/workflows/release.yml
Labels: none

Include `:ex_doc` for MIX_ENV `:prod` (#27)
  .github/workflows/release.yml
  mix.exs
Labels: none

fix: `:ex_doc` should not become a dependency
  .github/workflows/release.yml
  mix.exs
Labels: none

The `:ex_doc` should not become a dependency (#28)
  .github/workflows/release.yml
  mix.exs
Labels: none

Shortcut integer parsing
  lib/bento/parser.ex
Labels: none

Shortcut integer parsing (#29)
  lib/bento/parser.ex
Labels: none

added check for lexicographical ordering of keys when decoding dictionaries in Bento.Parser
  lib/bento/parser.ex
  test/bento/parser_test.exs
Labels: test

Enforce BEP-3 dictionary key ordering and uniqueness in the parser
  README.md
  lib/bento/parser.ex
  test/bento/parser_test.exs
Labels: test, document

Support nonstandard ".utf-8" metainfo keys (#14)
  README.md
  lib/bento/metainfo.ex
  test/bento/metainfo_test.exs
Labels: test, document

Update CI to current Erlang/OTP and Elixir versions
  .github/workflows/benchmark.yml
  .github/workflows/build-test.yml
  .github/workflows/release.yml
Labels: none

Drop documentation paragraphs, keep inline comments
  README.md
  lib/bento/parser.ex
Labels: document
